body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.input-area {
  display: flex;
  margin-bottom: 20px;
}

#producto {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#agregar {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#agregar:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fafafa;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid #28a745;
}

.comprado {
  text-decoration: line-through;
  color: #777;
  border-left: 5px solid #777;
}

button {
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.btn-ok {
  background: #007bff;
  color: white;
}

.btn-ok:hover {
  background: #0069d9;
}

.btn-delete {
  background: #dc3545;
  color: white;
}

.btn-delete:hover {
  background: #c82333;
}

#limpiar-todo {
  width: 100%;
  background: #dc3545;
  padding: 10px;
  margin-top: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
